@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:400,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $violet;
  min-height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-text;
  color: $violet;
}

.card {
  background-color: #f8f8f8;
  border-radius: 12px;
  max-width: 624px;
  width: 100%;
  padding: 32px;
  margin: 0 3rem 0 3rem;
  box-shadow: 0.5rem 0.8rem 2rem 1rem rgba(#000, 0.6);
}

.person {
  display: flex;
  align-items: flex-start;

  @media (max-width: 752px) {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 30%;
    border-radius: 50%;
    margin-right: 32px;
    transition: 0.7s;

    @media (max-width: 752px) {
      width: 50%;
      margin: 1rem auto 2rem auto;
    }

    @media (max-width: 520px) {
      width: 70%;
      margin: 1rem auto 2rem auto;
    }

    &:hover {
      filter: grayscale(0.9);
    }
  }

  &__header {
    margin-bottom: 32px;
  }

  &__name {
    margin: 0 0 8px 0;
    font-size: 36px;
  }

  &__position {
    font-family: $font-header;
    font-size: 20px;
    transition: 0.4s;

    &:hover {
      color: rgb(60, 33, 112);
      text-shadow: 0.4rem 0.3rem 1rem rgba(#000, 0.8);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;

    &__description--last {
      margin-bottom: 0;
    }
  }

  &__special {
    font-weight: normal;
    color: $orange;
  }

  &__link {
    color: $red;
    text-decoration: none;
    transition: 0.6s;

    &:hover {
      color: $violet;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }
}